body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #resultado {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .card h2 {
    text-align: center;
    font-size: 2rem;
  }
  
  .card p {
    text-align: center;
    font-size: 1.5rem;
  }